<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
     <parameter name="deviceName" value="SurajDevice" />
	<parameter name="platformName" value="Android" />
	<parameter name="platformVersion" value="10" />
	<parameter name="appPackage"  value="in.amazon.mShop.android.shopping" />
	<parameter name="appActivity" value="com.amazon.mShop.home.HomeActivity" />
	<parameter name="udid" value="RZ8N92QX07Z" /> <!--         5ea25097d240-->
	<parameter name="noReset" value="true" />
	<parameter name="automationName" value="uiautomator2" />
    <classes>
      <class name="com.TestPackage.LoginTestClass"/>
      <class name="com.TestPackage.OrderBookTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
